<h1>Recipes#create</h1>
<p>Find me in app/views/recipes/submit.html.erb</p>

INGREDIENT NUMBER: 
<%= @ingredients %>
<br/>

STUFF:
<%= @name %>
<%= @category %>
<br/>

DYNAMIC QTY:
<%= @ingredientX %>
<br/>
