<div id="footer">
	<div class="links-holder">
		<ul class="info-list">
			<li>&copy; 2011 ModernMeal</li>
			<li>All Rights Reserved</li>
		</ul>
		<ul class="footer-nav">
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Terms</a></li>
			<li><a href="#">Report Abuse</a></li>
		</ul>
	</div>
	<div class="ad">
		<a href="#"><img src="images/ad-image1.jpg" alt="" width="728" height="90" /></a>
	</div>
</div>