<div id="header">
	<div class="logo-area">
		<h1 class="logo"><a href="index.shtml">ModernMeal</a></h1>
		<strong class="slogan"><em>Your</em> recipes, ingredients, smart shopping&hellip; 
		it&rsquo;s how to cook today.</strong></div>
	<div class="nav-holder">
		<ul id="nav">
			<li><a href="#">About</a></li>
			<li><a href="#">Partner Sites</a></li>
			<li><a href="#">Press</a></li>
			<li><a href="#">Demo</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Logout</a></li>
		</ul>
	</div>
</div>